USE [master]
GO
/****** Object:  Database [CLiNICAS]    Script Date: 22-11-2024 19:14:27 ******/
CREATE DATABASE [CLiNICAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLiNICAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLEXPRESS\MSSQL\DATA\CLiNICAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLiNICAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLEXPRESS\MSSQL\DATA\CLiNICAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLiNICAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLiNICAS]
GO
/****** Object:  Table [dbo].[Cajas]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cajas](
	[IdCaja] [int] IDENTITY(1,1) NOT NULL,
	[nombreCaja] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citamedica]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citamedica](
	[IdMedico] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdExámen] [int] NOT NULL,
	[fechaCita] [datetime] NOT NULL,
	[IdCitmedica] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_citamedica] PRIMARY KEY CLUSTERED 
(
	[IdCitmedica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinica]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinica](
	[IdClinica] [int] NOT NULL,
	[NombreClinica] [varchar](30) NOT NULL,
	[DireccionClinica] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Clinica] PRIMARY KEY CLUSTERED 
(
	[IdClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[IdEspecialidad] [int] NOT NULL,
	[TipoEspecialidad] [varchar](40) NOT NULL,
	[IdClinica] [int] NOT NULL,
 CONSTRAINT [PK_Especialidades] PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC,
	[IdClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialClinico]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialClinico](
	[IdMedico] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdHistorialClinico] [int] NOT NULL,
 CONSTRAINT [PK_HistorialClinico] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC,
	[IdPaciente] ASC,
	[IdHistorialClinico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaExámenes]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaExámenes](
	[IdExámen] [int] NOT NULL,
	[NombreExámen] [varchar](100) NOT NULL,
	[TipoExámen] [varchar](100) NOT NULL,
	[Pendiente/Realizado] [varchar](50) NOT NULL,
	[CodigoExamen] [varchar](100) NOT NULL,
	[DescripcionExamen] [varchar](500) NOT NULL,
 CONSTRAINT [PK_ListaExámenes] PRIMARY KEY CLUSTERED 
(
	[IdExámen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[IdMedico] [int] NOT NULL,
	[NombreMedico] [varchar](40) NOT NULL,
	[ApellidoMedico] [varchar](30) NOT NULL,
	[Rut] [varchar](10) NOT NULL,
	[DirecciónMedico] [varchar](100) NOT NULL,
	[TeléfonoMedico] [varchar](10) NOT NULL,
	[CorreoMedico] [varchar](30) NOT NULL,
	[FechaNacimientomedico] [date] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico_especialidad_clinica]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico_especialidad_clinica](
	[IdMedico] [int] NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdClinica] [int] NOT NULL,
 CONSTRAINT [PK_Medico_especialidad_clinica] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC,
	[IdEspecialidad] ASC,
	[IdClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [varchar](10) NOT NULL,
	[NombrePaciente] [varchar](40) NOT NULL,
	[ApPaterno] [char](10) NOT NULL,
	[ApMaterno] [varchar](10) NOT NULL,
	[sexo] [varchar](1) NOT NULL,
	[TeléfonoPaciente] [varchar](10) NOT NULL,
	[CorreoPaciente] [varchar](40) NOT NULL,
	[DirecciónPaciente] [varchar](100) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdCaja] [int] NOT NULL,
	[IdTipoPrestacion] [int] NOT NULL,
	[IdTipoPago] [int] NOT NULL,
	[IdTipoDocumentoPago] [int] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[Iva] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumentoPago]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumentoPago](
	[IdTipoDocumentoPago] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumentoPago] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumentoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[IdTipoPago] [int] IDENTITY(1,1) NOT NULL,
	[TipoPago] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPrestacion]    Script Date: 22-11-2024 19:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPrestacion](
	[IdTipoPrestacion] [int] IDENTITY(1,1) NOT NULL,
	[TipoPrestacion] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoPrestacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[citamedica] ADD  DEFAULT ((50)) FOR [fechaCita]
GO
ALTER TABLE [dbo].[citamedica]  WITH CHECK ADD  CONSTRAINT [FK_citamedica_ListaExámenes] FOREIGN KEY([IdExámen])
REFERENCES [dbo].[ListaExámenes] ([IdExámen])
GO
ALTER TABLE [dbo].[citamedica] CHECK CONSTRAINT [FK_citamedica_ListaExámenes]
GO
ALTER TABLE [dbo].[citamedica]  WITH CHECK ADD  CONSTRAINT [FK_citamedica_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[citamedica] CHECK CONSTRAINT [FK_citamedica_Medico]
GO
ALTER TABLE [dbo].[citamedica]  WITH CHECK ADD  CONSTRAINT [FK_citamedica_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[citamedica] CHECK CONSTRAINT [FK_citamedica_Paciente]
GO
ALTER TABLE [dbo].[Especialidades]  WITH CHECK ADD  CONSTRAINT [Clinica_Especialidades] FOREIGN KEY([IdClinica])
REFERENCES [dbo].[Clinica] ([IdClinica])
GO
ALTER TABLE [dbo].[Especialidades] CHECK CONSTRAINT [Clinica_Especialidades]
GO
ALTER TABLE [dbo].[HistorialClinico]  WITH CHECK ADD  CONSTRAINT [Medico_HC] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[HistorialClinico] CHECK CONSTRAINT [Medico_HC]
GO
ALTER TABLE [dbo].[Medico_especialidad_clinica]  WITH CHECK ADD  CONSTRAINT [Especialidades_MEC] FOREIGN KEY([IdEspecialidad], [IdClinica])
REFERENCES [dbo].[Especialidades] ([IdEspecialidad], [IdClinica])
GO
ALTER TABLE [dbo].[Medico_especialidad_clinica] CHECK CONSTRAINT [Especialidades_MEC]
GO
ALTER TABLE [dbo].[Medico_especialidad_clinica]  WITH CHECK ADD  CONSTRAINT [Medico_MEC] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[Medico_especialidad_clinica] CHECK CONSTRAINT [Medico_MEC]
GO
USE [master]
GO
